.container {
  margin-top: 10px;

  .link-alert-container {
    .card {
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 5vh;

      a {
        cursor: pointer;
        font-weight: bold;
      }
    }
  }

  .new-alert-container {

    .card {
      padding: 10px;
      display: flex;
      justify-content: flex-start;
    }
  }
}