{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Créer un compte utilisateur</h1>
    <div class="container">
        <div class="jumbotronkai">
            {{ include('user/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
